.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
out/

*.nupkg
packages/
project.lock.json
project.fragment.lock.json

TestResults/
*.log
*.DS_Store
*.swp
*.tmp
TBA.Data/MSSql/TrelloDbContext.cs
TBA.Data/MSSql/TrelloDbContext.cs
